header{
  position: fixed;
  background-color: #33383b;
  color: cornsilk;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 20px;
}

nav{
  position: fixed;
  margin-top: 60px;
  background-color: #eeeeee;
  width: 150px;
  float: left;
  text-align: center;
}

section{
  margin-left: 150px ;
  margin-top: 80px ;
  float: left;
  padding: 10px;
}
.subSection{
  margin-left: 150px ;
  margin-right: 150px;
  margin-top: 20px;
}
